/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F0E1;
}

h1, h2, h3, h4, h5, h6, button{
    font-family: 'Raleway', sans-serif;
}

/* Styling the reusable parts */
header, .my-speech, .studies, .skills{
    margin: 0 0 0.3125rem 0;
}

article h6, section h6{
    display: none;
    height: 0;
    text-indent: -625rem;
}

/* Styling the header icons */
.fas, .far, .fab{
    font-size: 1.875rem;
    color: #fff;
}

header{
    background-color: #1E3D59;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3125rem 0.3125rem 0 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler{
    padding: 0.25rem;
    background-color: #FF6E40;
    border: 0.1875rem solid #eee;
    border-radius: 0.625rem;
}

.navbar-nav {
    align-items: center;
}

header li{
    margin: 0.625rem;
}

.nav-link.active {
    background-color: #FF6E40;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

/* Styling the banner section */

.presentation{
    text-align: center;
}

.presentation img{
    max-width: 11.3125rem;
    max-height: 11.8125;
    border-radius: 5.65625rem;
}

.presentation h1{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5625rem;
    padding: 1.25rem 0;

}

.presentation h2{
    font-size: 1.25rem;
    font-weight: 300;
    font-style: normal;
}

.presentation span{
    display: block;
    max-width: 3.125rem;
    border-top: 0.1875rem solid #FF6E40;
    padding: 0 0 1.875rem 0;
    position: relative;
    left: 2.8125rem;
}

.description, .presentation, .formations{
    background: #F5F0E1;
}

.description, .presentation, .formations, .skills{
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0.3125rem 0.3125rem;
    padding: 0.625rem;
}

.description p{
    font-weight: 300;
    font-size: 1.125rem;
}

.description button{
    max-width: 9.375rem;
    max-height: 3.125rem;
    background-color: #FF6E40;
    border: none;
    font-size: 1.5625rem;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3125rem;
    padding: 0.3125rem 1.25rem;
    text-transform: uppercase;
    color: #fff;
    margin: 1.25rem 0 1.875rem 0;
}

.description div {
    max-width: 10rem;
    max-height: 3.125rem;
}

.description div .fab{
    color: #0000FF;
}

/* Main content beginning */

/* Formations content */
.formations h2{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5625rem;
    padding-bottom: 1.25rem;
}

.formations .fas{
    color: #1E3D59;
    /* font-size: 1.5625rem; */
    font-size: 1.25rem;
    padding: 0.625rem 0.3125rem;
    background-color: #FFC13B;
    border-radius: 50%;
}

.formation-cards-body{
    background-color: #FFC13B;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3125rem;
    padding: 0.625rem 0.625rem 0 0.625rem;
    max-width: 20.6875rem;
    max-height: 6.25rem;
    color: #fff;
    margin-bottom: 0.9375rem;
}

.formation-cards-body h3{
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: uppercase;
}

.formation-cards-body ul li{
    font-size: 1.125rem;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
}

/* Skills content */

.skills{
    background-color: #1E3D59;
}

.circular{
    text-align: center;
}

.circular h4{
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    margin: 0.9375rem auto;
}

svg{
    max-width: 9.375rem;
}

    svg circle {
        fill: none;
    }

    svg .circle1 {
        stroke-width: 0.625rem;
        stroke-dashoffset: 0;
        stroke: #eee;
    }

    svg .pink {
        stroke: #FF6E40;
        stroke-width: 0.625rem;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: full 2s linear forwards;
    }

    svg .yellow {
        stroke: #FFC13B;
        stroke-width: 0.625rem;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: full 2s linear forwards;
    }

     svg .green {
        stroke: #3EB489;
        stroke-width: 0.625rem;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: full 2s linear forwards;
    }

    svg .max-full{
        animation: maxfull 2s linear forwards;
    }

    svg .half-full{
        animation: halffull 2s linear forwards;
    }

     svg .mini-full{
        animation: minifull 2s linear forwards;
    }

     svg .min-full{
        animation: minfull 2s linear forwards;
    }

     svg .min{
        animation: min 2s linear forwards;
    }

    @keyframes full {
        100% {
            stroke-dashoffset: 100;
        }
    }

    @keyframes maxfull {
        100% {
            stroke-dashoffset: 70;
        }
    }

    @keyframes halffull {
        100% {
            stroke-dashoffset: 180;
        }
    }

     @keyframes minifull {
        100% {
            stroke-dashoffset: 200;
        }
    }

     @keyframes minfull {
        100% {
            stroke-dashoffset: 240;
        }
    }

    @keyframes min {
        100% {
            stroke-dashoffset: 260;
        }
    }
/* Main content ending */